NX: 2
NY: 1248
Root.GRID_TYPE: Cubed-Sphere
Root.GRIDNAME: PE2880x17280-CF
Root.NF: 6
Root.LM: 91
Root.IM_WORLD: 2880

NUM_READERS: 6
NUM_WRITERS: 6
READ_RESTART_BY_FACE: YES

RUN_MODE: FillImports

Root_IMPORT_RESTART_FILE: root_import_checkpoint

IMPORT_STATE::
PLE , NA , NA , xyz , c
PREF , NA , NA , xyz , c
ZLE , NA , NA , xyz , c
KH , NA , NA , xyz , c
TKE , NA , NA , xyz , c
WQT , NA , NA , xyz , c
WHL , NA , NA , xyz , c
W2 , NA , NA , xyz , c
W3 , NA , NA , xyz , c
HL3 , NA , NA , xyz , c
EDMF_FRC , NA , NA , xyz , c
HL2 , NA , NA , xyz , c
QT2 , NA , NA , xyz , c
QT3 , NA , NA , xyz , c
HLQT , NA , NA , xyz , c
T , NA , NA , xyz , c
U , NA , NA , xyz , c
V , NA , NA , xyz , c
W , NA , NA , xyz , c
TS , NA , NA , xy , c
SNOMAS , NA , NA , xy , c
FRLANDICE , NA , NA , xy , c
FRLAND , NA , NA , xy , c
FRACI , NA , NA , xy , c
MTR , NA , NA , xyz , c
KPBL , NA , NA , xy , c
KPBL_SC , NA , NA , xy , c
AERO , NA , NA , xyz , c
TAUGWX , NA , NA , xy , c
TAUGWY , NA , NA , xy , c
TAUX , NA , NA , xy , c
TAUY , NA , NA , xy , c
TAUOROX , NA , NA , xy , c
TAUOROY , NA , NA , xy , c
OMEGA , NA , NA , xyz , c
ALH , NA , NA , xyz , c
RADLW , NA , NA , xyz , c
RADSW , NA , NA , xyz , c
WSUB_CLIM , NA , NA , xyz , c
TROPP , NA , NA , xy , c
DTDTDYN , NA , NA , xyz , c
DQVDTDYN , NA , NA , xyz , c
QV_DYN_IN , NA , NA , xyz , c
T_DYN_IN , NA , NA , xyz , c
U_DYN_IN , NA , NA , xyz , c
V_DYN_IN , NA , NA , xyz , c
PLE_DYN_IN , NA , NA , xyz , c
AREA , NA , NA , xy , c
USTAR , NA , NA , xy , c
TSTAR , NA , NA , xy , c
QSTAR , NA , NA , xy , c
T2M , NA , NA , xy , c
Q2M , NA , NA , xy , c
TA , NA , NA , xy , c
QA , NA , NA , xy , c
SH , NA , NA , xy , c
EVAP , NA , NA , xy , c
PHIS , NA , NA , xy , c
DTDT_BL , NA , NA , xyz , c
DQDT_BL , NA , NA , xyz , c
::

FILL_DEF::
PLE rand
PREF rand
ZLE rand
KH rand
TKE rand
WQT rand
WHL rand
W2 rand
W3 rand
HL3 rand
EDMF_FRC rand
HL2 rand
QT2 rand
QT3 rand
HLQT rand
T rand
U rand
V rand
W rand
TS rand
SNOMAS rand
FRLANDICE rand
FRLAND rand
FRACI rand
MTR rand
KPBL rand
KPBL_SC rand
AERO rand
TAUGWX rand
TAUGWY rand
TAUX rand
TAUY rand
TAUOROX rand
TAUOROY rand
OMEGA rand
ALH rand
RADLW rand
RADSW rand
WSUB_CLIM rand
TROPP rand
DTDTDYN rand
DQVDTDYN rand
QV_DYN_IN rand
T_DYN_IN rand
U_DYN_IN rand
V_DYN_IN rand
PLE_DYN_IN rand
AREA rand
USTAR rand
TSTAR rand
QSTAR rand
T2M rand
Q2M rand
TA rand
QA rand
SH rand
EVAP rand
PHIS rand
DTDT_BL rand
DQDT_BL rand
::